.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 2rem);
    width: calc(100% - 2rem);
    padding: 1rem;
}

.hero {
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.seller-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.herotext {
    font-size: 8rem;
    height: 12rem;
}

.herotext2 {
    font-size: 2rem;
}

.get-started {
    padding: 8px 16px;
    border-radius: 10px;
    background-color: #242424;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    align-content: center;
}

.books {
    height: calc(80% - 16px);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    position: relative;
    padding-right: 5rem;
    border-bottom: 16px solid #842106;
    border-radius: 5px 5px 10px 10px;
}

.book {
    padding: 80px 20px;
    border-radius: 10px;
    margin: 0px 10px;
    width: 90px;
    height: calc(90% - 160px);
    align-content: center;
    --pattern-color: #cb9c13;
    --background-color: #fec3b1;
    background: conic-gradient(
            from -45deg at calc(100% / 3) calc(100% / 3),
            var(--pattern-color) 90deg,
            #0000 0
        ),
        conic-gradient(
            from -135deg at calc(100% / 3) calc(2 * 100% / 3),
            var(--pattern-color) 90deg,
            var(--background-color) 0 135deg,
            #0000 0
        ),
        conic-gradient(
            from 135deg at calc(2 * 100% / 3) calc(2 * 100% / 3),
            var(--pattern-color) 90deg,
            var(--background-color) 0 135deg,
            #0000 0
        ),
        conic-gradient(
            from 45deg at calc(2 * 100% / 3) calc(100% / 3),
            var(--pattern-color) 90deg,
            var(--background-color) 0 135deg,
            #0000 0,
            var(--pattern-color) 0 225deg,
            var(--background-color) 0
        ),
        linear-gradient(
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.2) 30%,
            transparent 50%
        );
    background-size: 20px 20px;
    background-repeat: repeat;
    /* shadow */
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.5);
    transform-origin: bottom right;
    transition: transform 1s ease-out;
}

.var-1 {
    --pattern-color: #347146;
    --background-color: #93c8cc;
    background-size: 16px 16px;
}

.var-2 {
    --pattern-color: #22231b;
    --background-color: #6aa9aa;
    background-size: 20px 20px;
}

.book p {
    writing-mode: vertical-rl;
    rotate: 180deg;
    height: 100%;
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: right;
    padding-right: 16px;
}
